// Color Pattles
$colorGrayLightest: #f2f6f7; // rgb(242, 246, 247)
$colorGrayLighter: #dfe4e6; // rgb(223, 228, 230)
$colorGrayLight: #b8bdbf; // rgb(184, 189, 191)
$colorGray: #919799; // rgb(145, 151, 153)
$colorGrayDark: #6c7173; // rgb(108, 113, 115)
$colorGrayDarker: #3b3f40; // rgb(59, 63, 64)

// Primary Color
$colorPrimaryLight: #89d8eb;
$colorPrimary: #73b5cf;
$colorPrimaryDark: #003a57;

// Secondary Color
$colorSecondaryColorTurquoise: #50e3c2;
$colorSecondaryRed: #e6175c;
$colorSecondaryOrange: #f27f0c;
$colorSecondaryYellow: #ffd919;
$colorSecondaryBlue: hsl(210, 81.8, 46.8);
$colorSecondaryBueLight: hsl(210, 87.7, 59.4);
$colorSecondaryBlueDark: hsl(210, 90.5, 36.8);
$colorSecondaryGreen: #b9e617;

// Color States
$colorDefault: $colorGrayLighter;
$colorSuccess: $colorSecondaryGreen;
$colorError: $colorSecondaryRed;
$colorWarning: $colorSecondaryYellow;
