
.inputGroups {
  display: table !important
}

.inputGroups input {
  width: 100%
}

.btnAppend {
  padding: 0 !important;
}

.inputGroups input,
.inputGroups .inputAppend,
.inputGroups .inputPrepend,
.inputGroups .btnAppend {
  display: table-cell !important;
}

.inputGroups .btnAppend,
.inputGroups .inputAppend,
.inputGroups .inputPrepend {
  width: 1%;
  word-break: keep-all;
  vertical-align: middle;
}

.inputGroups .inputAppend,
.inputGroups .inputPrepend {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0 8px;
  color: rgba(0, 0, 0, .5);
  line-height: 1;
  font-size: rem(10);
  white-space: nowrap  ;
}

.inputGroups .inputPrepend {
  border-right: none;
}

.inputGroups .inputAppend {
  position: relative;
  z-index: 1;
  border-left: none;
}

.inputGroups .btnAppend .btn {
  height: auto;
  white-space: nowrap;
}
