@import "~sass/colors";
@import "~sass/forms";
@import "./mixins";

.inline {
  display: inline;
}

.inlineBlock {
  display: inline-block;
}

.block {
  display: block;
}

.pullRight {
  float: right;
}

.pullLeft {
  float: left;
}

.ratio4x3 {
  @include ratio(4/3);
}

.ratio16x9 {
  @include ratio(16/9);
}

.flex {
  display: flex;
}

.flexSplit {
  @extend .flex;
  justify-content: space-between;
  &:after,
  &:before {
    content: none;
  }
}

.flexMid {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
