*,
*:after,
*:before {
  box-sizing: border-box;
}

*:after,
*:before {
  content: '';
}

ol, ul, dl, dd {
  margin: 0;
  list-style: none;
}

body {
  background: #e6ebef;
}

body, input, textarea, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
