@import "~sass/colors";
@import "~sass/global";

.displayLine {
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: $colorSecondaryColorTurquoise;
  }
}

.nav {
  width: 56px;
  height: 100vh;
  background: $colorPrimaryDark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8787;
  :global(.router-link-active) {
    @extend .displayLine;

    svg {
      opacity: 1;
    }
  }

  :global(.router-link) {
    text-decoration: none;
    color: rgba(#fff, .5);
    height: 100%;
    width: 100%;
    @extend .flex;
    &:hover {
      @extend .displayLine;
      color: #fff;
    }
  }

  .linkIcon > :global(.router-link) {
    @extend .flexMid;
  }
}
.linkIcon {
  height: 56px;
  position: relative;
  @extend .flexMid;
  &:hover {
    dl {
      display: block;
    }
    svg {
      opacity: 1;
    }
  }
  &.isBottom {
    dl {
      top: auto;
      bottom: 0;
    }
  }
  dl {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: $colorPrimaryDark;
    min-width: 200px;
    color: rgba(#fff, .5);

    svg {
      margin-right: 12px;
    }
  }
  dt {
    padding: 20px 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  dd {
    position: relative;
    a {
      padding: 16px 0;
      padding-left: 20px;
    }
  }

  svg {
    fill: #fff;
    opacity: .5;
    width: 26px;
    height: 26px;
  }
}

.brand {
  border-radius: 50%;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  background: #fff;
}

.navBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
