@import "~sass/colors";
.container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2%;
  max-width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inputWrapper {
  width: 333px;
}
.notiError {
  margin: 0 auto 20px auto;
  font-size: 14px;
  color: $colorError;
  border: 1px solid $colorError;
  background: rgba($colorError, .15);
}
.notiSuccess {
  margin: 0 auto 20px auto;
  font-size: 14px;
  color: $colorSuccess;
  border: 1px solid $colorSuccess;
  background: rgba($colorSuccess, .15);
}
.noNotificaton {
  display: none;
}
.title {
  padding: 150px 0 0 0;
}
.input {
  margin: 10px 0;
}
.buttons {
  float: right;
  display: flex;
  :last-child {
    margin-left: 10px;
  }
}
