@import "~sass/colors";
.profilePage {
  background: #fff;
  font-size: 14px;
  position: relative;
}
.logout {
  position: absolute;
  top: 9px;
  right: 60px;
}
.input {
  width: 480px;
  margin-bottom: 20px;
}
.submit {
  float: right;
  margin-top: 30px;
}
.box {
  display: flex;
  justify-content: center;
  padding: 64px 0 88px 0;
}
.notiError {
  margin: 0 auto 20px auto;
  font-size: 14px;
  color: $colorError;
  text-align: center;
  border: 1px solid $colorError;
  background: rgba($colorError, .15);
}
.notiSuccess {
  margin: 0 auto 20px auto;
  font-size: 14px;
  color: $colorSuccess;
  text-align: center;
  border: 1px solid $colorSuccess;
  background: rgba($colorSuccess, .15);
}
.noNotificaton {
  display: none;
}
