apiVersion: v1
kind: ConfigMap
metadata:
  name: openfalcon-configmap
data:
  entrypoint.sh: |-
    #!/bin/bash
    /bin/sh -c 'sleep 10 && sh ctrl.sh start graph hbs judge transfer nodata aggregator gateway api alarm'  & /usr/bin/supervisord -c /etc/supervisord.conf
---
apiVersion: v1
kind: Service
metadata:
  name: open-falcon
  labels:
    app: monitor
spec:
  type: NodePort
  ports:
    - name: tcp
      port: 8433
    - name: web
      port: 8080
  selector:
    name: open-falcon
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: open-falcon
  labels:
    app: monitor
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: open-falcon
    spec:
      containers:
      - name: open-falcon
        image: openfalcon/falcon-plus:v0.3
        workingDir: /open-falcon
        command:
        - /bin/entrypoint.sh
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8433
        - containerPort: 8080
        env:
        - name: MYSQL_PORT
          value: root:123456@tcp(mysql:3306)
        - name: REDIS_PORT
          value: redis:6379
        volumeMounts:
        - name: open-falcon-data
          mountPath: /open-falcon/data
        - name: configmap-volume
          mountPath: /bin/entrypoint.sh
          readOnly: true
          subPath: entrypoint.sh
      volumes:
      - name: open-falcon-data
        emptyDir: {}
      - name: configmap-volume
        configMap:
          defaultMode: 0700
          name: openfalcon-configmap
