@import "~sass/colors";
.container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2%;
  max-width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inputWrapper {
  width: 334px;
}
.openfalcon {
  margin: 150px 0 30px 0;
}
.notiError {
  margin: 0 auto 20px auto;
  font-size: 14px;
  color: $colorError;
  border: 1px solid $colorError;
  background: rgba($colorError, .15);
}
.notiSuccess {
  margin: 0 auto 20px auto;
  font-size: 14px;
  color: $colorSuccess;
  border: 1px solid $colorSuccess;
  background: rgba($colorSuccess, .15);
}
.noNotificaton {
  display: none;
}
.input {
  margin: 10px 0;
}
.buttons {
  margin: 10px 0;
  width: 100%;
}
.signupInfo {
  float: right;
  font-size: 11px;
  color: #919799;
  .signup {
    color: #919799;
    cursor: pointer;
    text-decoration: none;
  }
}
