@import "~sass/colors";

.contactPage {
  background: #fff;
  font-size: 14px;
}

.contactSearchWrapper {
  padding: 12px 24px;
  position: relative;
  background: $colorGrayLightest;
  display: flex;
  .searchInputGroup {
    display: flex;
    .contactSearch {
      width: 280px;
    }
  }
}

.contactWrapper {
  padding: 20px 24px;
  background: $colorGrayLighter;
}

.gridWrapperBox {
  background: #fff;
}

.buttonIcon {
  padding: 8px 16px;
  position: absolute;
  top: 12px;
  right: 24px;
  .plus {
    margin-right: 4px;
  }
}

.input {
  width: 548px;
}

.formTitle {
  flex-grow: 1;
}

.groupSelect {
  width: 548px;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  font-size: 14px;
}

.userLists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;
  font-size: 14px;
}

.userInfo {
  display: flex;
  :first-child {
  }
}

.lightboxFooter {
  padding-top: 10px;
  padding-right: 23px;
  display: flex;
  justify-content: flex-end;
  .submitBtn {
    margin-left: 20px;
  }
}

.opeartionInline {
  display: flex;
  align-items: baseline;
  .opeartions {
    margin: 0 5px;
    text-decoration: underline;
    color: $colorPrimary;
    cursor: pointer;
  }
}

.deleteDes {
  font-size: 14px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  .btnWrapper {
    flex: 1;
    & + .btnWrapper {
      margin-left: 20px;
    }
  }
  .buttonBig {
    width: 100%;
  }
}
