body, input, div, span, h1, h2, h3, h4, h5, table, th, td, ul, li, dl,
dt, dd, a {
    font-family: 'verdana', 'Microsoft YaHei', 'Consolas',
    'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono';
}

.cut-line {
    margin: 0 5px;
    color: #D6D6D6;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.gray {
    color: #999 !important;
}

.mt0 {
    margin-top: 0px;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.thin-border {
    padding: 10px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

.question-title {
    font-weight: bold;
}

.question-content {
    text-indent: 2em;
    line-height: 2em;
}

* {
    font-size: 12px;
    line-height: 24px;
}
